body {
    font-family: sans-serif;
    font-size: 10px;
}

#banner {
    text-align: center;
}

#banner_image {
    border: 0px;
    width: 300px;
    max-width: 80%;
}

#banner_text {
    font-size: 10px;
    font-style: italic;
    margin-bottom: 20px;
    font-family: sans-serif;
}

#latex_label {
    font-size: 10px;
    font-weight: bold;
    font-family: sans-serif;
}

#parameter_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "textbox textbox textbox"
			     "resolution color generate"
			     "output output output";
}

#parameter_latex {
    font-weight: bold;
    width: 100%;
    grid-area: textbox;
}

#parameter_resolution {
    font-weight: bold;
    margin: auto;
    grid-area: resolution;
}

#parameter_color {
    font-weight: bold;
    margin: auto;
    grid-area: color;
}

#parameter_generate {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    grid-area: generate;
}

#parameter_output {
    margin: 20px;
    grid-area: output;
}

.button:hover {
    background: #ff8;
}

.button {
    min-width: 140px;
    height: 40px;
    background: #8f8;
    font-size: 14pt;
}

.dialog {
    display: none;
    position: fixed;
    left: 10%;
    width: 80%;
    top: 10%;
    height: 40%;
    background-color: #ddf;
    z-index: 1;
    padding: 20px;
}

.dialog_title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: sans-serif;
    text-align: center;
}

#img_output {
             background-image: url('trans_grid.png');
             background-repeat: repeat;
             padding: 2px;
	     margin-left: 50%;
	     transform: translateX(-50%);
}


#view_history {
    font-family: sans-serif;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #444;
    padding: 5px;
    border-radius: 30px 30px 0px 0px;
    min-width: 40%;
    text-align: center;
    color: #fff;
    cursor: hand;
}

#view_history:hover {
    color: #ff5;
}

#history_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    grid-auto-flow: dense;
    margin-bottom: 30px;
}

/* wraps the images (which are class griditem) */
#history_grid > span {
    display: flex;
    align-items: center;
    margin: auto;
    height: 100px;
}

/* the images themselves */
.griditem {
    max-width: 200px;
    max-height: 100px;
    cursor: hand;
}

.griditem:hover
{
             background-image: url('trans_grid.png');
             background-repeat: repeat;
}

.showmore
{
    font-size: 18pt;
    font-weight: bold;
    cursor: hand;
}


.showmore:hover
	      {
		  color: #5555ff;
	      }

#history {
    display: none;
}

#img_output {
    max-width: 95%;
    margin-bottom: 30px;
}

#color_swatch {
    display: inline-block;
    border: 3px solid;
    background-color: #000000;
    width: 12pt;
    height: 12pt;
}

#color_swatch:hover {
    border-color: #5555ff;
}

#color_chooser {
    display: none;
    position: fixed;
    left: 10%;
    width: 80%;
    top: 10%;
    height: 40%;
    background-color: #ddf;
    z-index: 1;
    padding: 20px;
}